<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean class="com.Tom" name="tom">
    <property name="name" value="RAJA"/>
    <property name="age" value="45"/>
    <property name="height" value="7.8"/>
    <property name="salary" value="298356"/>
    <property name="village" value="Hosadurga"/>
    </bean>
    <bean class="com.Tom" name="tomy">
     <property name="name" value="bija"/>
    <property name="age" value="5"/>
    <property name="height" value="0.6"/>
    <property name="salary" value="296"/>
    <property name="village" value="chitadurga"/>
    
    
   
    </bean>
   
    </beans>